{% extends "_layout" %}
{% set title = "Advertise" %}

{% block content %}
<div class="row">
	<div class="one columns">&nbsp;</div>
	<div class="five intro columns">
		<h2>{{ entry.body }}</h2>
	</div>
	<div class="six columns">&nbsp;</div>
</div>
<div class="row">
	<div class="one columns">&nbsp;</div>
	<div class="five info columns">
		{{ entry.pageIntroduction }}
	</div>
	<div class="six columns">&nbsp;</div>
</div>
<div class="row cont">
	<div class="one columns">&nbsp;</div>
	<div class="five columns">
		{% macro errorList(errors) %}
		    {% if errors %}
		        <ul class="errors">
		            {% for error in errors %}
		                <li>{{ error }}</li>
		            {% endfor %}
		        </ul>
		    {% endif %}
		{% endmacro %}

		{% from _self import errorList %}

		<form method="post" action="" enctype="multipart/form-data" accept-charset="UTF-8">
		    {{ csrfInput() }}
		    <input type="hidden" name="action" value="contact-form/send">
		    {{ redirectInput('thanks') }}

		    <label for="from-name">Full Name*</label>
		    <input id="from-name" placeholder="First and last name" type="text" name="fromName" value="{{ message.fromName ?? '' }}">
		    {{ message is defined and message ? errorList(message.getErrors('fromName')) }}

		    <label for="from-email">Email*</label>
		    <input id="from-email" placeholder="Your email address" type="email" name="fromEmail" value="{{ message.fromEmail ?? '' }}">
		    {{ message is defined and message ? errorList(message.getErrors('fromEmail')) }}

		    {#<h3><label for="subject">Subject</label></h3>
		    <input id="subject" type="text" name="subject" value="{{ message.subject ?? '' }}">
		    {{ message is defined and message ? errorList(message.getErrors('subject')) }}#}

			<label for="from-file">Image Files</label>
			<div class="instructions">
				<p>
					Select up to four at once (Image or PDF).
				</p>
			</div>
			<input id="from-file" type="file" name="attachment[]" multiple>

		    <label for="message">Message*</label>
		    <textarea id="message" name="message[body]">{{ message.message ?? '' }}</textarea>
		    {{ message is defined and message ? errorList(message.getErrors('message')) }}

		    <input type="submit" value="Submit">
		</form>
	</div>
	<div class="five info adv columns">
		{{ entry.advertise }}
	</div>
	<div class="one columns">&nbsp;</div>
</div>
{% endblock %}
