{% extends "_search-layout" %}
{% set title = "Search" %}
{% redirect "archive" %}
{% block content %}
<div class="row">
	<div class="one columns">&nbsp;</div>
	<div class="five intro columns">
		<h2>Search</h2>
	</div>
	<div class="six columns">&nbsp;</div>
</div>
<div class="row">
	<div class="one columns">&nbsp;</div>
	<div class="ten columns">
		{% set query = craft.app.request.getParam('q') %}
		{% set entries = craft.entries.search(query).orderBy('score') %}

		{% if entries|length %}
		    <h3>{{ entries|length }} results:</h3>

		    <ul class="results">
		        {% for entry in entries.all() %}
		            <li><a href="{{ entry.url }}">{{ entry.title }}</a></li>
		        {% endfor %}
		    </ul>
		{% else %}
		    <p>Your search for “{{ query }}” didn’t return any results.</p>
		{% endif %}
	</div>
	<div class="one columns">&nbsp;</div>
</div>
{% endblock %}
