{% extends "_layout" %}
{% set title = "News" %}
{% redirect "archive" %}

{% if pageInfo.prevUrl %}<link rel="prev" href="{{ pageInfo.prevUrl }}">{% endif %}
{% if pageInfo.nextUrl %}<link rel="next" href="{{ pageInfo.nextUrl }}">{% endif %}

{% block content %}
<div class="row">
	<div class="one columns">&nbsp;</div>
	<div class="ten columns">
	{% paginate craft.entries.section('news').limit(12) as pageInfo, pageEntries %}
		{% for entry in pageEntries %}
		<article class="story aos-item" data-aos="fade-up">
			{% if entry.mainNewsImage | length %}
			    {% for asset in entry.mainNewsImage %}
			        <a href="{{ entry.url }}"><img src="{{ asset.url('newsImage') }}" width="100%" title="{{ entry.mainNewsImageTitle }}" alt="{{ entry.mainNewsImageTitle }}"></a>
			    {% endfor %}
			{% endif %}
			<div class="newsSnip">
				<h3><a href="{{ entry.getUrl }}">{{ entry.title }}</a></h3>
				<p class="meta">Published <b>{{ entry.postDate.format('F d, Y') }}</b></p>
				{% set paragraphs = entry.newsParagraph|split('</p>') %}
				{% set firstParagraph = paragraphs|first ~ '</p>' %}
				{{ firstParagraph|raw }}
				<a href="{{ entry.url }}" class="more">Continue reading</a>
			</div>
		</article>
		{% endfor %}
	</div>
	<div class="one columns">&nbsp;</div>
</div>

<div class="row newsPaginate">
	<div class="one columns">&nbsp;</div>
	<div class="three columns prev">&nbsp;
			{% if pageInfo.prevUrl %}<a href="{{ pageInfo.prevUrl }}">Previous page</a>{% endif %}
	</div>
	<div class="four columns paginate">
		{% for page, url in pageInfo.getPrevUrls(3) %}
    		<a href="{{ url }}">{{ page }}</a>
		{% endfor %}
		<span class="current">{{ pageInfo.currentPage }}</span>
		{% for page, url in pageInfo.getNextUrls(3) %}
		    <a href="{{ url }}">{{ page }}</a>
		{% endfor %}
	</div>
	<div class="three columns next">
		{% if pageInfo.nextUrl %}<a href="{{ pageInfo.nextUrl }}">Next page</a>{% endif %}
		&nbsp;
	</div>
	<div class="one columns">&nbsp;</div>
</div>
{% endblock %}
