{% extends "_layout" %}
{% redirect "archive" %}

{% set entry = craft.entries.section('archive').one() %}
{% set title = "Archive" %}

{% block content %}
<div class="row">
	<div class="one columns">&nbsp;</div>
	<div class="five intro columns">
		<h2>{{ entry.body }}</h2>
	</div>
	<div class="six columns">&nbsp;</div>
</div>
<div class="row">
	<div class="one columns">&nbsp;</div>
	<div class="five info columns">
		{{ entry.pageIntroduction }}
	</div>
	<div class="six columns">&nbsp;</div>
</div>
<div class="row">
	<div class="one columns">&nbsp;</div>
	<ul class="ten columns archiveCols">
		{% for block in entry.archive.all() %}
			<li>
				<h4>{{ block.year }}</h4>
				{% for asset in block.files.all() %}
			        <a href="{{ asset.url }}" target="_blank" rel="noopener noreferrer">{{ asset.title }}</a><br>
			    {% endfor %}
			</li>
		{% endfor %}
	</ul>
	<div class="one columns">&nbsp;</div>
</div>
{% endblock %}
