{% extends "_layout" %}
{% set title = "Contribute" %}
{% redirect "archive" %}
{% block content %}
<div class="row">
	<div class="one columns">&nbsp;</div>
	<div class="five intro columns">
		<h2>{{ entry.body }}</h2>
	</div>
	<div class="six columns">&nbsp;</div>
</div>
<div class="row cont">
	<div class="one columns">&nbsp;</div>
	<div class="five columns">
	</div>
	<div class="five link columns">
		{{ entry.pageIntroduction }}
	</div>
	<div class="one columns">&nbsp;</div>
</div>
{% endblock %}
